* {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	background-color:  #F1F1F1;
	text-align: center;
	padding: 1.25em;
}

header img {
	width: 8em;
}

header nav {
	overflow: hidden;
	background-color: #333;
}

header nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
}

header nav a:hover {
	background-color: #ddd;
	color: black;
}

header nav a:active {
	background-color: #696867;
	color: white;
}

header input {
	width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0em;
    display: inline-block;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

section {
	background-color: #F1F1F1;
	margin: 1em 0em;
	padding: 1em;
}

input {
	width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0em;
    display: inline-block;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

form {
	border-radius: 0.3125em;
    background-color: #f2f2f2;
    padding: 1.25em;
}

article {
	box-shadow: 0 0.25em 0.5em 0em rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.3125em;
    background-color: white;
}

article:hover {
	box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
}

article h3 {
	padding: 0.125em 1em;
}

article p {
	padding: 0em 1em 1.5em 1em;
}

article img {
    border-radius: 0.3125em 0.3125em 0em 0em;
    width: 100%;
}