* {
	font-family: 'Source Sans Pro', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:  all .21s;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

header button {
	background-color: white;
	border: none;
	display: flex;
}

header nav ul li button img[src*="img/search.svg"] {
	height: 3.3em;
	width: 3.3em;
	background-color: #D82331;
	border-radius: 100%;
	padding: 0.8em;
}

header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em
}

header nav ul li{
	width: 2em;
	display: flex; 
}

header nav ul li img{
	width: 100%;
}

header nav ul li:nth-of-type(2) {
	width: 5em;
}

main div:first-of-type {
	left: -100%;
}

main div.menuopen {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	top: 0;
}

section:first-of-type {
	background-color: white;
	padding: 0em 0em 0em 0em;
	border: 1px solid black;
	height: 100%;
	position: fixed;
	top:  0;
	left:  -100%;
	margin-top: 0;
	border: none;
	border-right: 1.2em solid red;
	width: 80%;
	z-index: 2;
	text-align: center;
}

section img[src*="persona"] {
	margin: auto;
	width: 50%;
	padding-top: 2em;
}

section nav ul li {
	display: flex;
	margin: 1em 0em;
	justify-content: center;
	border: 1px solid black;
	padding: 1em 0em;
}

section nav ul {
	margin: 7em 0em 0em 0em;
}
img.icon {
	width: 10%;
	margin: 0em 1em 0em 0em;
}

section:first-of-type li {
	width: 100%;
}

section.menuopen {
	left: 0;
}

section:nth-of-type(2) {
	margin: 0em;
}
section {
	background-color: #F1F1F1;
	margin: 1em 0em;
	padding: 1em;
}

main section:nth-of-type(2) {
	width: 100%;
	padding: 0;
	margin: 0;
}

main section:nth-of-type(3) {
	margin-top: 0;
	background-color: white;
}

main section:nth-of-type(3) h2 {
	color: black;
	border-bottom: 1px solid blue;
	margin-bottom: 1em;
}
input {
	width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0em;
    display: inline-block;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

form {
	border-radius: 0.3125em;
    background-color: #f2f2f2;
    padding: 1.25em;
}

article {
	box-shadow: 0 0.25em 0.5em 0em rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.3125em;
    background-color: white;
}

article:hover {
	box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
}

article h3 {
	padding: 0.125em 1em;
}

article p {
	padding: 0em 1em 1.5em 1em;
}

article img {
    border-radius: 0.3125em 0.3125em 0em 0em;
    width: 100%;
}

img.verhaal {
	width: 100%;
}